# Operating System & IDE
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Configs & Tokens
.worker_config.json
*.env

# Farmer Bin Temp & Logs
farmer_bin/logs/
farmer_bin/config*.json
farmer_bin/Configuration/
farmer_bin/appsettings.Development.json

